<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Установка кодировки документа -->
    <title>Users</title> <!-- Заголовок страницы -->
    <style>
        /* Существующие стили */
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"> <!-- Атрибуты для обеспечения безопасности. Подключение стилей bootstrap -->
</head>
<body>
<nav class="navbar navbar-dark bg-dark"> <!-- Темная навигационная панель -->
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" id="userDetails">
            <!-- Здесь будут отображаться данные пользователя -->
        </span>
        <a class="btn btn-dark" aria-current="page" href="/logout">Logout</a> <!-- Кнопка выхода -->
    </div>
</nav>
<br>
<div class="d-flex align-items-start">
    <!-- Боковая навигация для вкладок "Admin" и "User" -->
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin" role="tab"
               aria-controls="v-pills-admin" aria-selected="true">Admin</a> <!-- Вкладка "Admin" -->
            <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="false">User</a> <!-- Вкладка "User" -->
        </div>
    </div>
    <!-- Область контента для вкладок -->
    <div class="col-10">
        <div class="tab-content bg-light" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                 aria-labelledby="v-pills-admin-tab">
                <div class="d-flex align-content-center flex-wrap">
                    <h2><b>Admin panel</b></h2> <!-- Заголовок панели администратора -->
                </div>
                <!-- Навигационные вкладки для различных функций администратора -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab"
                                data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab"
                                aria-controls="home" aria-selected="true">Users table <!-- Вкладка "Users table" -->
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="new-user-tab"
                                data-bs-toggle="tab" data-bs-target="#newUser"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">New User <!-- Вкладка "New User" -->
                        </button>
                    </li>
                </ul>
                <!-- Таблицы пользователей -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="my-container" id="usersTableContainer">
                            <!-- Таблица пользователей будет загружена здесь -->
                        </div>
                    </div>
                    <!-- Форма для добавления нового пользователя -->
                    <div class="tab-pane fade" id="newUser">
                        <!-- Форма нового пользователя -->
                    </div>
                </div>
            </div>
            <!-- Вкладка "User" для информации о пользователе -->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <main class="col-12">
                    <div class="mine-container">
                        <!-- Информация о пользователе -->
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> <!-- Подключение скриптов Bootstrap -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Функция для получения и отображения пользователей
        function fetchUsers() {
            fetch('/users')  // Фактический endpoint
                .then(response => response.json()) // Преобразование ответа в JSON
                .then(data => {
                    const usersTableContainer = document.getElementById('usersTableContainer'); // Контейнер для таблицы пользователей
                    usersTableContainer.innerHTML = '';  // Очистка существующего контента
                    const table = document.createElement('table'); // Создание таблицы
                    table.classList.add('table', 'table-striped', 'table-hover', 'caption-top'); // Добавление классов Bootstrap
                    const thead = document.createElement('thead'); // Создание заголовка таблицы
                    thead.innerHTML = `
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Role</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    `; // Заполнение заголовка таблицы
                    const tbody = document.createElement('tbody'); // Создание тела таблицы
                    data.forEach(user => { // Перебор массива пользователей
                        const tr = document.createElement('tr'); // Создание строки таблицы
                        tr.innerHTML = `
                            <td>${user.id}</td>
                            <td>${user.name}</td>
                            <td>${user.age}</td>
                            <td>${user.roles.join(', ')}</td>
                            <td>
                                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#eMdl${user.id}">Update</button> <!-- Кнопка обновления -->
                                <!-- Модальное окно обновления -->
                            </td>
                            <td>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#dMdl${user.id}">Delete</button> <!-- Кнопка удаления -->
                                <!-- Модальное окно удаления -->
                            </td>
                        `; // Заполнение строки таблицы данными пользователя
                        tbody.appendChild(tr); // Добавление строки в тело таблицы
                    });
                    table.appendChild(thead); // Добавление заголовка таблицы
                    table.appendChild(tbody); // Добавление тела таблицы
                    usersTableContainer.appendChild(table); // Вставка таблицы в контейнер
                })
                .catch(error => console.error('Error fetching users:', error)); // Обработка ошибок
        }

        fetchUsers(); // Вызов функции для получения и отображения пользователей
    });
</script>
</body>
</html>
